.requiredClass{
    color:red;
}
.datatable{
    background-color: white;
}
.bottomBorders{
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    border-bottom-width: 10px ​!important;
}
.allBorder {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#myInput {
    box-sizing: border-box;
    background-image: url('../img/searchicon.png');
    background-position: 12px 4px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 5px 20px 5px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #deleteItemlistkjsdksdj {
    box-sizing: border-box;
    background-image: url('../img/delete.png');
  }
  
  #myInput:focus {outline: 3px solid #ddd;}