.requiredClass{
    color:red;
}
.datatable{
    background-color: white;
}
.bottomBorders{
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    border-bottom-width: 10px ​!important;
}
.allBorder {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#myInput {
    box-sizing: border-box;
    background-image: url('../img/searchicon.png');
    background-position: 12px 4px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 5px 20px 5px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  /* .deleteItemlistkjsdksdj {
    box-sizing: border-box;
    background-image: url('../img/delete.png');
  } */

 .deleteItemlistkjsdksdj::before {
    font-family: fontAwesome;
    content: "\f00d\00a0";
  }
  .editItemButton::before {
    font-family: fontAwesome;
    content: "\f044\00a0";
  }
  
  #myInput:focus {outline: 3px solid #ddd;}

  .pagelist center a { 
    background-color: #eec064;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
  }

  .pagelist center a:link, a:visited, a:hover, a:active  {
    text-decoration: none; 
  } 

  .pagelist center strong{
    background-color: #aac2cb;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
  }

  .red {
    background-color: #d53420;
    color: #ffffff;
  }
  .green {
    background-color: #4da96f;
    color: #ffffff;
  }
  .yellow {
    background-color: #e8a539;
    color: #ffffff;
  }

  .redtext {
    color: #d53420;
    background-color: #ffffff;
    text-transform: capitalize;
  }
  .greentext {
    color: #4da96f;
    background-color: #ffffff;
    text-transform: capitalize;
  }
  .yellowtext {
    color: #e8a539;
    background-color: #ffffff;
    text-transform: capitalize;
  }

  .brand-color{
    color: #eec064 !important;
  }

  .brand-background{
    background-color: #eec064 !important;
  }

  .cir {
    width: 50px;
    height: 50px;
    /*background: linear-gradient(to right, blue, orange);/*important*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;/*no need*/
    color: white;/*no need*/
    font-family: Arial;/*no need*/
    border: 5px solid white;/*no need*/
    user-select: none;/*no need*/
    margin-top: 0px;
  }

  .borderRed{
    border: 1px solid red !important;
  }
  .customSearchborder{
    border: 1px solid #3f383e1a;
    border-radius: 23px;
    background-color: #FFF;
  }